.auth-page {
    display: flex;
    justify-content: center;
    padding: var(--space-16) var(--space-4);
}

.auth-card {
    width: 100%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    margin-top: var(--space-6);

    app-button {
        align-self: center
    }
}

.switch-link {
    margin-top: var(--space-6);
    font-size: 0.875rem;
    text-align: center;
}